<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FundamentalCompressor">
        <activity
            android:name=".MainActivity"
            android:label="@string/launcher_app_name"
            android:exported="true"
            android:theme="@style/Theme.FundamentalCompressor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CompressorActivity"
            android:exported="false"
            android:theme="@style/Theme.FundamentalCompressor">
        </activity>
        <activity
            android:name=".FileCompressorActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/Theme.FundamentalCompressor">
        </activity>
        <activity
            android:name=".DirCompressorActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/Theme.FundamentalCompressor">
        </activity>
        <activity
            android:name=".DecompressorActivity"
            android:label="@string/decompressor_label"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/Theme.FundamentalCompressor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:mimeType="application/gzip"/>
                <data android:scheme="file" android:mimeType="application/gzip"/>
                <data android:scheme="content" android:mimeType="application/zstd"/>
                <data android:scheme="file" android:mimeType="application/zstd"/>
                <data android:scheme="content" android:mimeType="application/zip"/>
                <data android:scheme="file" android:mimeType="application/zip"/>
                <data android:scheme="content" android:mimeType="application/java-archive"/>
                <data android:scheme="file" android:mimeType="application/java-archive"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" android:path="/*.bz2"/>
                <data android:scheme="file" android:path="/*.bz2"/>
                <data android:scheme="content" android:path="/*.gz"/>
                <data android:scheme="file" android:path="/*.gz"/>
                <data android:scheme="content" android:path="/*.lz4"/>
                <data android:scheme="file" android:path="/*.lz4"/>
                <data android:scheme="content" android:path="/*.lzma"/>
                <data android:scheme="file" android:path="/*.lzma"/>
                <data android:scheme="content" android:path="/*.7z"/>
                <data android:scheme="file" android:path="/*.7z"/>
                <data android:scheme="content" android:path="/*.tar"/>
                <data android:scheme="file" android:path="/*.tar"/>
                <data android:scheme="content" android:path="/*.taz"/>
                <data android:scheme="file" android:path="/*.taz"/>
                <data android:scheme="content" android:path="/*.tgz"/>
                <data android:scheme="file" android:path="/*.tgz"/>
                <data android:scheme="content" android:path="/*.tlz"/>
                <data android:scheme="file" android:path="/*.tlz"/>
                <data android:scheme="content" android:path="/*.txz"/>
                <data android:scheme="file" android:path="/*.txz"/>
                <data android:scheme="content" android:path="/*.tzst"/>
                <data android:scheme="file" android:path="/*.tzst"/>
                <data android:scheme="content" android:path="/*.xz"/>
                <data android:scheme="file" android:path="/*.xz"/>
                <data android:scheme="content" android:path="/*.Z"/>
                <data android:scheme="file" android:path="/*.Z"/>
                <data android:scheme="content" android:path="/*.zip"/>
                <data android:scheme="file" android:path="/*.zip"/>
                <data android:scheme="content" android:path="/*.ZIP"/>
                <data android:scheme="file" android:path="/*.ZIP"/>
                <data android:scheme="content" android:path="/*.zst"/>
                <data android:scheme="file" android:path="/*.zst"/>
                <data android:scheme="content" android:path="/*.apk"/>
                <data android:scheme="file" android:path="/*.apk"/>
                <data android:scheme="content" android:path="/*.jar"/>
                <data android:scheme="file" android:path="/*.jar"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" android:path="/*.bz2" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.bz2" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.gz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.gz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.lz4" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.lz4" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.lzma" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.lzma" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.7z" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.7z" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.tar" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.tar" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.taz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.taz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.tgz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.tgz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.tlz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.tlz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.txz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.txz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.tzst" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.tzst" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.xz" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.xz" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.Z" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.Z" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.zip" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.zip" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.ZIP" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.ZIP" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.zst" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.zst" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.apk" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.apk" android:mimeType="*/*"/>
                <data android:scheme="content" android:path="/*.jar" android:mimeType="*/*"/>
                <data android:scheme="file" android:path="/*.jar" android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" android:pathSuffix=".bz2"/>
                <data android:scheme="file" android:pathSuffix=".bz2"/>
                <data android:scheme="content" android:pathSuffix=".gz"/>
                <data android:scheme="file" android:pathSuffix=".gz"/>
                <data android:scheme="content" android:pathSuffix=".lz4"/>
                <data android:scheme="file" android:pathSuffix=".lz4"/>
                <data android:scheme="content" android:pathSuffix=".lzma"/>
                <data android:scheme="file" android:pathSuffix=".lzma"/>
                <data android:scheme="content" android:pathSuffix=".7z"/>
                <data android:scheme="file" android:pathSuffix=".7z"/>
                <data android:scheme="content" android:pathSuffix=".tar"/>
                <data android:scheme="file" android:pathSuffix=".tar"/>
                <data android:scheme="content" android:pathSuffix=".taz"/>
                <data android:scheme="file" android:pathSuffix=".taz"/>
                <data android:scheme="content" android:pathSuffix=".tgz"/>
                <data android:scheme="file" android:pathSuffix=".tgz"/>
                <data android:scheme="content" android:pathSuffix=".tlz"/>
                <data android:scheme="file" android:pathSuffix=".tlz"/>
                <data android:scheme="content" android:pathSuffix=".txz"/>
                <data android:scheme="file" android:pathSuffix=".txz"/>
                <data android:scheme="content" android:pathSuffix=".tzst"/>
                <data android:scheme="file" android:pathSuffix=".tzst"/>
                <data android:scheme="content" android:pathSuffix=".xz"/>
                <data android:scheme="file" android:pathSuffix=".xz"/>
                <data android:scheme="content" android:pathSuffix=".Z"/>
                <data android:scheme="file" android:pathSuffix=".Z"/>
                <data android:scheme="content" android:pathSuffix=".zip"/>
                <data android:scheme="file" android:pathSuffix=".zip"/>
                <data android:scheme="content" android:pathSuffix=".ZIP"/>
                <data android:scheme="file" android:pathSuffix=".ZIP"/>
                <data android:scheme="content" android:pathSuffix=".zst"/>
                <data android:scheme="file" android:pathSuffix=".zst"/>
                <data android:scheme="content" android:pathSuffix=".apk"/>
                <data android:scheme="file" android:pathSuffix=".apk"/>
                <data android:scheme="content" android:pathSuffix=".jar"/>
                <data android:scheme="file" android:pathSuffix=".jar"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" android:pathSuffix=".bz2" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".bz2" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".gz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".gz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".lz4" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".lz4" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".lzma" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".lzma" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".7z" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".7z" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".tar" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".tar" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".taz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".taz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".tgz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".tgz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".tlz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".tlz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".txz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".txz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".tzst" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".tzst" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".xz" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".xz" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".Z" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".Z" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".zip" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".zip" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".ZIP" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".ZIP" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".zst" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".zst" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".apk" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".apk" android:mimeType="*/*"/>
                <data android:scheme="content" android:pathSuffix=".jar" android:mimeType="*/*"/>
                <data android:scheme="file" android:pathSuffix=".jar" android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DocumentationActivity"
            android:exported="false"
            android:theme="@style/Theme.FundamentalCompressor">
        </activity>
        <activity
            android:name=".ShowOpenSourceLibrariesActivity"
            android:exported="false"
            android:theme="@style/Theme.FundamentalCompressor">
        </activity>
    </application>
</manifest>